/venv
/.venv
/.vscode
.env
/mistral-stockLM-finetune
.DS_Store
/run_prompt_engineeing/img
test.ipynb
/history_data/tw/taifex
/history_data/us/dataset
*/__pycache__
*.pyc
./sp
embeddings.json
./future_raw
./TX_raw/
/history_data/tw/TX_raw
/history_data/tw/future_raw
output.png