/__pycache__
/venv
/.venv
/.vscode
.env
/mistral-stockLM-finetune
.DS_Store
/run_prompt_engineeing/img
test.ipynb
/history_data/tw/taifex
/history_data/us/dataset
/run_prompt_engineering/api/__pycache__
